:host {
    display: block;
}

.amount {
    margin: 0;
    text-align: center;
    font-size: var(--slds-g-font-scale-7, 3rem);
    font-weight: var(--slds-g-font-weight-bold, 700);
    line-height: var(--slds-g-line-height-heading, 1.25);
    color: var(--dxp-s-body-text-color, var(--dxp-g-root-contrast, var(--slds-g-color-neutral-base-10, #0b0b0b)));
}
