:host {
    display: block;
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin-block-end: 1rem;
}

.payment-frequency {
    margin-block-end: 1rem;
}

.radio-group .slds-form-element__control span.slds-radio {
    display: inline-block;
    width: 50%;
}

.slds-radio_button {
    flex-grow: 1;
}

.payment-amount-options {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    margin-block: var(--dxp-g-spacing-medium);
}

.payment-amount-options label {
    align-items: center;
    border: var(--dxp-s-form-element-width-border) solid var(--sds-g-color-surface-1, #ffffff);
    border-radius: var(--dxp-s-button-radius-border);
    display: flex;
    justify-content: center;
    font-size: 1.625rem;
    padding: 1.25rem;
    position: relative;
    background: var(--sds-g-color-surface-1, #ffffff);
}

.payment-amount-options label:has(input:checked) {
    align-items: center;
    border: var(--dxp-s-form-element-width-border) solid var(--dxp-g-brand);
    border-radius: var(--dxp-s-button-radius-border);
    box-shadow: 0 3px 20px #00000019;
    background: var(--sds-g-color-surface-1, #ffffff);
}

.payment-amount-options input {
    display: none;
}

.payment-other-field {
    display: block;
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.label-amount-content .checked,
.label-amount-content .unchecked {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.label-amount-content .checked {
    display: none;
    width: 1rem;
    fill: var(--dxp-g-brand);
}

.label-amount-content .unchecked {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--fd-input-border-color);
    border-radius: 3px;
}

.payment-amount-options input:checked + .label-amount-content .checked {
    display: block;
}

.payment-amount-options input:checked + .label-amount-content .unchecked {
    display: none;
}

.form-actions {
    display: flex;
    margin-block-start: 2rem;
    gap: 1rem;
}

.form-actions lightning-button {
    flex: 1;
}

.label-content {
    align-items: center;
    border: 1px solid var(--fd-payment-method-border-color);
    border-radius: var(--slds-c-button-radius-border, var(--dxp-s-button-radius-border, .25em));
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.label-content img {
    width: 2.5rem;
    height: auto;
}

.label-content .checked {
    width: 1rem;
    fill: var(--dxp-g-brand);
}

.label-content .unchecked {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--fd-payment-method-border-color);
    border-radius: 3px;
}

.label-content .checked {
    display: none;
}

input:checked + .label-content {
    border: 1px solid var(--dxp-g-brand);
    box-shadow: var(--fd-pay-method-box-shadow);
}

input:checked + .label-content .checked {
    display: block;
}

input:checked + .label-content .unchecked {
    display: none;
}

.checkmark-symbol {
    display: none;
}

.powered-by-logo {
    display: block;
    margin: 0 auto;
    max-width: 152px;
    padding-block-start: 1.5rem;
}

.radio-group .slds-radio_button [type="radio"]:checked + .slds-radio_button__label {
    background: var(--dxp-g-brand, rgb(1, 118, 211)) !important;
    color: var(--dxp-g-brand-contrast, #ffffff) !important;
}